node_modules
coverage
build
dist
.DS_Store
.env.local
.env.*.local
.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*